<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.csu.codemanagesystem.infrastructure.dao.ICourseDao">
    <insert id="createCourse" parameterType="edu.csu.codemanagesystem.infrastructure.po.Course">
        insert into course (course_id, name, start_time, end_time)
            values (#{courseId}, #{name}, #{startTime}, #{endTime});
    </insert>

    <select id="queryCourseByFactor" resultType="edu.csu.codemanagesystem.infrastructure.po.Course"
            parameterType="edu.csu.codemanagesystem.infrastructure.po.Course">
        select id, course_id, name, start_time, end_time, status from course
        where 1 = 1
        <if test="courseId != null">
            and course_id = #{courseId}
        </if>
        <if test="name != null">
            and name = #{name}
        </if>
        <if test="startTime != null">
            and start_time = #{startTime}
        </if>
        <if test="endTime != null">
            and end_time = #{endTime}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
    </select>
</mapper>
