<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.csu.codemanagesystem.infrastructure.dao.ICurrentSemesterDao">
    <select id="queryCurrentSemesterId" resultType="java.lang.Long">
        select semester_id from current_semester where id = 1;
    </select>
</mapper>
