<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.csu.codemanagesystem.infrastructure.dao.IJobDao">
    <insert id="insertJob" parameterType="edu.csu.codemanagesystem.infrastructure.po.Job">
        insert into job (job_id, title, content, course_id, class_id, start_time, end_time)
            values
                (#{jobId}, #{title}, #{content}, #{courseId}, #{classId}, #{startTime}, #{endTime})
    </insert>
    <select id="queryJobCount" resultType="java.lang.Integer">
        select count(*) from job;
    </select>
    <select id="queryJobByFactor" resultType="edu.csu.codemanagesystem.infrastructure.po.Job">
        select id, job_id, title, content, course_id, class_id from job
        where 1 = 1
        <if test="jobId != null and jobId != ''">
            and job_id = #{jobId}
        </if>
        <if test="title != null and title != ''">
            and title = #{title}
        </if>
        <if test="content != null and content != ''">
            and content = #{content}
        </if>
        <if test="courseId != null and courseId != ''">
            and courseId = #{courseId}
        </if>
        <if test="classId != null and classId != ''">
            and class_id = #{classId}
        </if>
    </select>
    <select id="queryJobByJobId" resultType="edu.csu.codemanagesystem.infrastructure.po.Job">
        select id, job_id, title, content, course_id, class_id, status, start_time, end_time from job
        where job_id in
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
    </select>
</mapper>
