<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.csu.codemanagesystem.infrastructure.dao.ISemesterDao">
    <insert id="createSemester" parameterType="edu.csu.codemanagesystem.infrastructure.po.Semester">
        insert into semester (semester_id, name, start_time, end_time)
        values (#{semesterId}, #{name}, #{startTime}, #{endTime});
    </insert>
    <insert id="setCurrentSemester">
        insert into current_semester(id, semester_id)
        values
            (1, #{semesterId})
        on duplicate key update
            semester_id = values(semester_id)
    </insert>
    <select id="queryAllSemester" resultType="edu.csu.codemanagesystem.infrastructure.po.Semester">
        select id, semester_id, name, start_time, end_time, status from semester;
    </select>
    <select id="querySemesterCount" resultType="java.lang.Integer">
        select count(*) from semester;
    </select>
    <select id="querySemesterBySemesterId" resultType="edu.csu.codemanagesystem.infrastructure.po.Semester" parameterType="java.lang.Long">
        select id, semester_id, name, start_time, end_time, status from semester where semester_id = #{semesterId};
    </select>
    <select id="querySemesterByFactor" resultType="edu.csu.codemanagesystem.infrastructure.po.Semester">
        select id, semester_id, name, start_time, end_time, status from semester where 1 = 1
        <if test="semesterId != null and semesterId != ''">
            and semester_id = #{semesterId}
        </if>
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
    </select>
</mapper>
