<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.csu.codemanagesystem.infrastructure.dao.IStudentJobDao">
    <insert id="insertStudentJobBatch" parameterType="java.util.List">
        insert into student_job (job_id, student_id, name)
            values
            <foreach collection="list" item="studentJob" separator=",">
                (#{studentJob.jobId}, #{studentJob.studentId}, #{studentJob.name})
            </foreach>
    </insert>
    <update id="updateStudentJob">
        update student_job
        set status = #{status}
        where job_id = #{jobId}
          and student_id = #{studentId}
    </update>
    <select id="queryJobIdByStudentId" resultType="java.lang.Long">
        select job_id from student_job where student_id = #{studentId};
    </select>
    <select id="queryStudentJobByFactor" resultType="edu.csu.codemanagesystem.infrastructure.po.StudentJob">
        select id, job_id, student_id, status, name from student_job
        where 1 = 1
        <if test="jobId != null and jobId != ''">
            and job_id = #{jobId}
        </if>
        <if test="studentId != null and studentId != ''">
            and student_id = #{studentId}
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
    </select>
</mapper>
