<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.csu.codemanagesystem.infrastructure.dao.IStudentJobDao">
    <insert id="insertStudentJobBatch" parameterType="java.util.List">
        insert into student_job (job_id, student_id)
            values
            <foreach collection="list" item="studentJob" separator=",">
                (#{studentJob.jobId}, #{studentJob.studentId})
            </foreach>
    </insert>
    <select id="queryJobIdByStudentId" resultType="java.lang.Long">
        select job_id from student_job where student_id = #{studentId};
    </select>
</mapper>
